
.title {
  width: 100%;
  text-align: center;
  margin-bottom: 25px;
  color: white;
  font-family: 'Delius Unicase', cursive;
}

h3 {
  color: white;
}

.scoreSummary {
  width: 100%;
  text-align: center;
  margin-bottom: 1em;
  padding-right: 2em;
  padding-left: 2em;
  font-family: 'Dekko', cursive;
}

.row {
  background: transparent;
  margin-top: 2em;
}


