
.title {
  width: 100%;
  text-align: center;
  margin-bottom: 25px;
  color: white;
}

h3 {
  color: white;
}

.scoreSummary {
  width: 100%;
  text-align: center;
  margin-bottom: 20px;
}

.row {
  background: transparent;
  margin-top: 2em;
}


